section {
  margin-bottom: 50px;
}

.container_section {
  display: flex;
  margin: 30px;
}

.container_section img {
  height: 150px;
  width: 150px;
}

.container_section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.container-article h2 {
  width: 100%;
  text-align: start;
  margin: 0;
  color: rgb(133, 253, 163);
}
.container-article p {
  margin-top: 0;
  font-size: 15px;
  text-align: justify;
  color: white;
  padding-right: 30%;
}
